@page "/Title/Index"
@using RenzGrandWeddingblazor.ph.ViewModels 
 @using RenzGrandWeddingblazor.ph.Data.Entities
@using Newtonsoft.Json
@using codegeneratorlib.Helpers
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;

<PageTitle>List Page</PageTitle>

<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Title Master List</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content js-Title-main-container">					
					
						<div class="row">
							<!--BUTTON TOP-->
							<div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-warning btn-custom float-end" id="js-export-Title" style="margin-left:10px;" @onclick="()=>ExportFile()"><i class="fa fa-download"></i> Export Data</button>
								<a href="/Title/Create" class="btn btn-primary btn-custom float-end popup"><i class="fa fa-plus"></i> Create New</a>
							</div>

							<div class="col-md-12 col-sm-12 col-xs-12 divider-dashed">
                                <hr />
                            </div>

							<!--SEARCH AREA-->
							<form class="form-horizontal" id="search-Title-form" @onsubmit="()=>SearchTitle()">
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<label>Search by: (TitleName, TItleDescription)</label>
								<input class="form-control" id="js-Keyword-search" @bind="searchInfo.Keyword" />
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label>Page Size:</label>
									<select class="form-control" id="js-page-size" @bind="PageSize">
										<option disabled>Max rows</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin-top:10px;">
									<button type="submit" class="btn btn-primary btn-custom"><i class="fa fa-search"></i> Search</button>
								</div>
							</form>
                        </div>

						<div class="row">
							<!--BULK BUTTON-->
							<div class="col-md-12 col-sm-12 col-xs-12" style="display:none" id="js-delete-container">
								<button class="btn btn-primary btn-md btn-custom fa fa-trash" id="js-delete-bulk">Delete</button>
							</div>
                             @if (pTitles == null)
                             {
                                 <br />
                                 <p>Loading..</p>
                             }
                             else
                             {
							<!--DATA TABLE-->
							<div class="col-md-12 col-sm-12 col-xs-12 js-Title-list-container">
								<table class="table table-hover bulk_action" id="js-table-Title" style="margin-top:10px;">
									<thead>
										<tr>
											<th class="column-title"><input type="checkbox" id="check-all" /></th>
											<th class="column-title">Title Name</th>
											<th class="column-title">T Itle Description</th>
											<th class="column-title">Product Line Id</th>
											<th class="column-title">Particular Id</th>
											<th class="column-title">Product Line Code</th>
											<th class="column-title">Product Line Name</th>
											<th class="column-title">Particular Name</th>
											<th class="column-title">Particular Description</th>
											<th class="column-title no-link last"><span class="nobr">Action</span></th>
										</tr>
									</thead>
									<tbody id="js-load-Title-row">
                                    @foreach (var Title in pTitles.List)
                                     {
                                       <tr id="selected-row-titleid">
								<td><input type="checkbox" class="js-chk-bulk" data-id=''></td>
									<td>@Title.TitleName</td>
									<td>@Title.TItleDescription</td>
									<td>@Title.ProductLineId</td>
									<td>@Title.ParticularId</td>
									<td>@Title.ProductLineCode</td>
									<td>@Title.ProductLineName</td>
									<td>@Title.ParticularName</td>
									<td>@Title.ParticularDescription</td>
									<td><a href="/Title/Details/@Title.TitleId" class="popup"><i class="fa fa-info-circle"></i></a> <a href="/Title/Update/@Title.TitleId" class="popup"><i class="fa fa-edit"></i></a> <a @onclick="()=>DeleteTitle(Title.TitleId)" style="cursor:pointer" id="js-Title-delete" data-id="TitleId"><i class="fa fa-trash-o"></i></a></td>
								</tr>
                                     }
									</tbody>
								</table>
							</div>

							 <!--PAGINATION AND SUMMARY-->
							<div class="col-md-12 col-sm-12 col-xs-12 js-pagination-Title" style="margin-top:-27px;">

								<div id="js-page-history" style="float:left;margin-top:25px;color:#cc503b;">
									<!--PAGINATION HISTORY-->
                                    @pTitles?.PageSummary
								</div>

								<div style="float:right;margin-top:20px;">
									<ul class="pagination pagination-md" id="js-ul-pagination">
                                    <!--LOAD PAGINATION-->
                                    @* <li id="js-prev-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationPrev()">&laquo;</a></li> *@
                                    @for (var i = 0; i < @pTitles?.PageIndices?.Count(); i++)
                                    {
                                        var pageNum = @pTitles?.PageIndices?.ToArray()[i];

                                        <li id="js-li-count-@pageNum" class="check page-item li-children-ref" data-id="@pageNum">
                                            <a style="cursor:pointer;" class="page-link" id="click-User-pagination-@pageNum" @onclick="()=>ClickPagination(pageNum)" data-id="@pageNum">
                                                @pageNum
                                            </a>
                                        </li>
                                    }
                                    @* <li id="js-next-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationNext()">&raquo;</a></li> *@
									</ul>
							   </div>
						</div>
                       }
					</div>
				</div>
            </div>
        </div>
    </div>
</div>



@code {
    private TitleSearch searchInfo = new();
    private Pagination<TitleVM> pTitles;
    private TitleVM oTitleVM = new();
    private string responseMessage;
    private int PageSize = 10;
    private int CurrentPage = 1;


    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(1000);

        var search = new TitleSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadTitle(CurrentPage, PageSize, search);
        pTitles = list;
    }

    private async Task ExportFile()
    {
        var restService = new RestService<ExcelData>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<ExcelData>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Titles/export/report");
        if (!result.IsSuccess)
        {
        }
        else
        {
            var file = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8;base64,{result.Data.File}";

            NavigationManager.NavigateTo(file);
        }
    }

    private async Task<Pagination<TitleVM>> LoadTitle(int? currpage, int pagesize, TitleSearch search)
    {
        var restService = new RestService<Pagination<TitleVM>>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<Pagination<TitleVM>>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Titles/List/Page{currpage}/PageSize{pagesize}?Keyword={search?.Keyword}");
        if (!result.IsSuccess)
        {
            return pTitles = null;
        }
        else
        {
            return pTitles = result.Data;
        }
    }

    private async Task SearchTitle()
    {
        var search = new TitleSearch();
        search.Keyword = searchInfo?.Keyword;
        var pullout = await LoadTitle(CurrentPage, PageSize, search);
        pTitles = pullout;

        StateHasChanged();
    }

    public async Task DeleteTitle(int id)
    {
        var restService = new RestService<List<TitleVM>>();

        var result = new ServiceModel<List<TitleVM>>();

        result = await restService.Delete($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Titles/{id}/delete");

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
        }
        else
        {
            var search = new TitleSearch();
            search.Keyword = searchInfo?.Keyword;
            var list = await LoadTitle(CurrentPage, PageSize, search);
            pTitles = list;
        }

        StateHasChanged();
    }

    private async Task ClickPagination(int? elementId)
    {
        var currrentPage = elementId;
        var search = new TitleSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadTitle(currrentPage, PageSize, search);
        pTitles = list;
        StateHasChanged();
    }

    private async Task ClickPaginationPrev()
    {
        var currrentPage = CurrentPage - 1;
        var search = new TitleSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadTitle(currrentPage, PageSize, search);
        pTitles = list;
        StateHasChanged();
    }

    private async Task ClickPaginationNext()
    {
        var currrentPage = CurrentPage + 1;
        var search = new TitleSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadTitle(currrentPage, PageSize, search);
        pTitles = list;
        StateHasChanged();
    }
}